{% extends 'main/base.html' %}

{% block content %}
    <h1><i class="fas fa-building"></i> Experience</h1>
    <ul>
        <li>
            <strong>Software Intern – İSPARK IT Department</strong><br>
            July 2025 (ongoing) – Working remotely on Python and Django-based internal systems.
        </li>
        <li>
            <strong>Student Assistant – Piri Reis University</strong><br>
            2024 – Managed department presentations and student guidance.
        </li>
    </ul>
{% endblock %}
