{% extends 'main/base.html' %}

{% block content %}
<h1><i class="fa-solid fa-lightbulb"></i> My Skills</h1>

<div>
    <p>HTML</p>
    <div class="skill-bar">
        <div class="skill-fill" style="width: 60%;">60%</div>
    </div>

    <p>CSS</p>
    <div class="skill-bar">
        <div class="skill-fill" style="width: 60%;">60%</div>
    </div>

    <p>JavaScript</p>
    <div class="skill-bar">
        <div class="skill-fill" style="width: 70%;">70%</div>
    </div>

    <p>Python</p>
    <div class="skill-bar">
        <div class="skill-fill" style="width: 80%;">80%</div>
    </div>

    <p>Django</p>
    <div class="skill-bar">
        <div class="skill-fill" style="width: 70%;">70%</div>
    </div>
</div>
{% endblock %}
